<!DOCTYPE html>
<html>
<head>
  <title>Justnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user %>
	<%= link_to "Sign up with Twitter", "/auth/twitter" %>
<% end %>
<% flash.each do |name, message| %>
	<%= content_tag :div, message, id: "flash_#{name}" %>
<% end %>
<%= yield %>

</body>
</html>
